@import url('https://fonts.googleapis.com/css?family=Montserrat: 100, 200, 300, 400, 500, 600, 700, 800, 900');

:root
{
    --body-background-color: #000;
    --main-background-color: #202020;
    --recents-card-background-color: #3D1B1A;
    --heading-color: #fff;
    --primary-text-color: #7C7C7C;

    /* Radii */
    --base-border-radius: 10px;
}

body
{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-background-color);
    overflow-x: hidden;
}